/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #D4C17F;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}
.container--sm {
  max-width: 840px;
}

.text-right {
  text-align: right;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.none {
  display: none !important;
}

.title-2 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 74px;
  min-height: 840px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242b33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242b33)), url("./../img/header/header-bg.jpg");
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("./../img/header/header-bg.jpg");
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  position: relative;
  padding-bottom: 121px;
  text-align: center;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
}

.header__title-icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.header__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.nav {
  font-size: 14px;
  letter-spacing: 0.05em;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.info {
  position: relative;
  font-size: 18px;
  padding-left: 35px;
}
.info--map, .info--tel {
  padding-left: 35px;
}
.info--map::before, .info--tel::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  width: 21px;
  height: 21px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  background-repeat: no-repeat;
  background-position: center;
}
.info--map::before {
  background-image: url("./../img/header/map.svg");
}
.info--tel::before {
  background-image: url("./../img/header/phone.svg");
}

.benefits {
  position: relative;
  padding: 120px 0;
}
.benefits::after {
  content: "II";
  left: 80%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  position: absolute;
  top: 0;
  line-height: 1.15;
  opacity: 0.02;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}

.benefits__item {
  text-align: center;
}

.benefits__item-img {
  margin-bottom: 53px;
}

.benefits__item-text {
  font-style: 20px;
  line-height: 27px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.apartments {
  position: relative;
}
.apartments::before {
  content: "III";
  right: 85%;
  -webkit-transform: translate(50%, 0%);
          transform: translate(50%, 0%);
  position: absolute;
  top: 0;
  line-height: 1.15;
  opacity: 0.02;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.apartments__title {
  margin-bottom: 88px;
}

.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card {
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: #fff;
}
.card::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242B33));
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 7;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.card:hover {
  color: #fff;
}
.card:hover::after {
  opacity: 1;
}

.card__img {
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.card__title {
  position: absolute;
  z-index: 9;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-size: 24px;
}
.card__title:hover {
  color: #fff;
}

.card:hover .card__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: contrast(110%), brightness(1.2), saturate(1.2);
          filter: contrast(110%), brightness(1.2), saturate(1.2);
}

.cta {
  padding: 180px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.42%, #242B33), color-stop(50.52%, rgba(36, 43, 51, 0)), color-stop(90.1%, #242B33)), -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.9)), to(rgba(36, 43, 51, 0.9))), url("./../img/cta/cta-bg.jpg");
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url("./../img/cta/cta-bg.jpg");
}

.cta__title {
  margin-bottom: 17px;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.cta__text {
  line-height: 1.5;
}
.cta__text p + p {
  margin-top: 1em;
}

.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.form__input::-webkit-input-placeholder {
  color: #BEBEBE;
}
.form__input::-moz-placeholder {
  color: #BEBEBE;
}
.form__input:-ms-input-placeholder {
  color: #BEBEBE;
}
.form__input::-ms-input-placeholder {
  color: #BEBEBE;
}
.form__input::placeholder {
  color: #BEBEBE;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.form__privacy {
  font-size: 13px;
  color: #E7E7E7;
  text-align: center;
  line-height: 1.23;
}

.form__btn {
  height: 50px;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #D4C17F;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.form__btn:hover {
  background-color: rgb(220.55, 197.7276470588, 118.45);
}

.video {
  position: relative;
  text-align: center;
}
.video::after {
  content: "IV";
  left: 80%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  position: absolute;
  top: 0;
  line-height: 1.15;
  opacity: 0.02;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.8)), to(rgba(36, 43, 51, 0.8)));
  background: linear-gradient(0deg, rgba(36, 43, 51, 0.8), rgba(36, 43, 51, 0.8));
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.7);
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.video__link:hover .video__icon {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
}

.section-map {
  position: relative;
  padding: 180px 0;
}
.section-map::before {
  content: "V";
  z-index: -1;
  right: 85%;
  -webkit-transform: translate(50%, 0%);
          transform: translate(50%, 0%);
  position: absolute;
  top: 0;
  line-height: 1.15;
  opacity: 0.02;
  font-size: 400px;
  font-family: "Playfair Display", serif;
  top: 160px;
}

.section-map__title {
  margin-bottom: 80px;
}

.map {
  height: 358px;
  background: #626262;
}

.feedback {
  padding-bottom: 180px;
}

.feedback__title {
  margin-bottom: 38px;
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  padding-top: 72px;
  padding-bottom: 51px;
  background-color: #2D343C;
  font-size: 14px;
  letter-spacing: 0.05rem;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer__logo {
  margin-top: -12px;
}

.footer__nav-list {
  display: grid;
  gap: 15px;
}

.footer__address {
  display: grid;
  gap: 20px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
}